body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, purple, blue);
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}
#calculator{
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.671);
    border-radius: 50px;
    overflow: hidden;
}
#display{
    width: 1000%;
    padding: 20px;
    font-size: 4rem;
    text-align: left;
    border: none;
    background-color: rgba(0, 0, 0, 0.548);
    color: white;
}
button{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: none;
    background-color: rgba(0, 0, 0, 0.678);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgba(34, 33, 33, 0.932);
}
button:active{
    background-color: rgba(165, 162, 145, 0.589);
}
.operator-btn{
    background-color: rgba(255, 166, 0, 0.877);
}
.operator-btn:hover{
    background-color: rgba(224, 156, 28, 0.637);
}
.operator-btn:active{
    background-color: rgb(233, 167, 82);
}

@media(max-width:600px){
    #calculator{
        max-width: 300px;
    }
    button{
        width: 50px;
        height: 50px;
        font-size: 1.8rem;
    }
    #display{
        font-size: 2rem;
    }
}